@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.navbar {
  /* box-shadow: 0px 2px 3px lightgrey; */
  padding: 10px;
}

.navbar img {
  width: 65px;
  height: auto;
  transform: scale(1.3) ;
  margin-left: 15px;
}

.navbar-brand span {
  font-weight: bold;
  color: #37474f;
  font-size: 23px;
  text-transform: uppercase;
  margin-left: 15px;
  letter-spacing: 1.2px;
  font-family: "Josefin Sans", sans-serif;
}

.navbar img {
  width: 65px;
  height: auto;
  transform: scale(1.3) ;
  margin-left: 15px;
}

/* Search Form in Navbar */

.navbar input,
.navbar .btn {
  border-radius: 0 !important;
  border: 1px solid #37474f;
}

.navbar input::placeholder {
  color: #37474f;
}

.navbar input {
  width: 400px;
}

.navbar .btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #37474f;
}

.navbar .btn:hover {
    background-color: #37474f;
    color: white;
}

.search_form {
  margin-top: -10px;
}
